// .eslintrc //앞에 '.'이 붙으면 숨긴 파일, 확장자는 없다.

{
  "parserOptions": {
     "ecmaVersion": 2020,
     "sourceType": "module",
     "ecmaFeatures": {
       "jsx": true
     }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [ // 남들이 만들어 둔 기본 규칙을 따른다른 의미. 
    "eslint:recommended",
    "plugin:react/recomended"
  ],
  "plugin": [
    "import",
    "react-hooks"
  ]
}
